{
    "APP_ENV": "development",
    "APP_DEBUG": true,
    "APP_URL": "http://localhost/vouchmorphn",
    "DB_CONNECTIONS": {
        "SWAP_DB": "mysql:host=localhost;dbname=swap_system_bw",
        "SACCUS_DB": "mysql:host=localhost;dbname=saccussalis",
        "ZURU_DB": "mysql:host=localhost;dbname=zurubank",
        "CAZACOM_DB": "mysql:host=localhost;dbname=cazacom"
    }
}
